<h1>Add a new patron</h1>

<form action="/patrons" method="post">
  <label for="name">Patron Name:</label>
  <input id="name" name="name" type="name">
  <label for="phoneNumber">Patron Phone Number:</label>
  <input id="phoneNumber" name="phoneNumber" type="phoneNumber">
  <button type="submit">Add new patron</button>
</form>

<p><a href="/">Return to home page</a></p>
<p><a href="/patron">View all patrons</a></p>
