<h1>Add a new book!!!</h1>

<form action="/books" method="post">
  <label for="title">Book Title:</label>
  <input id="title" name="title" type="text">
  <button type="submit">Add new book</button>
</form>

<p><a href="/">Return to home page</a></p>
<p><a href="/books">View all books</a></p>
