<h1>Add an author</a>

<form action="/authors" method="post">
  <label for="authorName">Author Name</label>
  <input id="authorName" name="authorName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Home</a></p>
<p><a href="/authors">Back to authors</a></p>
